/* Navbar*/

nav {
	background-color: #999999;
	height: 200px;
}

.nav-item {
	font-size: 1.2rem;
}

/* About */

.video {
	height: 300px;
	width: 200px;
	background-color: black;
}

.image {
	height: 300px;
	width: 200px;
	background-color: black;
}

.bgimage {
	background-color: blue;
	height: 500px;
	width: 100%;
}

button {
	text-align: center;
}

.info {
	display: flex;
}

footer {
	background-color: black;
	height: 300px;
}
