* {
	box-sizing: border-box;
}

body {
	font-family: "Times New Roman", Times, serif;
}

.white {
	color: blue;
}

.red {
	color: red;
}

/* Navbar*/

nav {
	background-color: black;
	height: 100px;
}

.nav-item a {
	color: #ffd700;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.09rem;
}

.nav-item a:hover {
	color: white;
}

nav img {
	width: 200px;
}

.nav-item {
	font-size: 1.2rem;
}

/* About */
.about {
	margin-top: 100px;
	padding-top: 30px;
	width: 100%;
	height: 700px;
	/* background-image: url(../public/images/silicon.jpg); */
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
}

.about h1 {
	font-size: 5rem;
	font-weight: bold;
	margin-top: 10rem;
	background: -webkit-linear-gradient(white, #ffd700);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

button {
	text-align: center;
}

.info {
	display: flex;
	background-color: gold;
	color: black;
}
.mine {
	background-image: url(../public/images/mining.jpeg);
	height: 700px;
	width: 100%;
	color: white;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: black;
	text-align: center;
}

.mine h2 {
	font-size: 3rem;
	font-weight: bold;
	/* background: -webkit-linear-gradient(white, #ffd700);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: white;
}

.mine p {
	/* background: -webkit-linear-gradient(white, #ffd700);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	color: white;
	font-size: 1.5rem;
	text-align: center;
}

.colx {
	margin-top: 200px;
}

/* Footer */

footer {
	background-color: black;
	height: 300px;
	position: relative;
}

.col1 {
	padding-top: 100px;
	font-family: "Times New Roman", Times, serif;
	color: white;
}

.col1 h3 {
	font-size: 1.5rem;
}

.social-icons {
	width: 250px;
	height: 50px;
	margin: 0 0 0 20px;
	display: flex;
	justify-content: space-between;
}

.social-icons a {
	color: white;
}

.social-icons a:hover {
	color: gold;
}

footer img {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 250px;
}

.hii {
	position: relative;
}

footer h6 {
	text-align: left;
	padding-left: 120px;
	font-size: 1.1rem;
}

.links {
	position: absolute;
	right: 200px;
	top: 60px;
}

.links a {
	color: white;
	text-decoration: none;
}

.links a:hover {
	color: grey;
}

.links h4 {
	color: gold;
}
