* {
	box-sizing: border-box;
}

/* Navbar*/

nav {
	background-color: black;
	height: 100px;
}

.nav-item a {
	color: #ffd700;
}

.nav-item a:nth-child(1):hover {
	color: white;
}

nav img {
	width: 200px;
}

.nav-item {
	font-size: 1.2rem;
}

/* About */
.about {
	margin-top: 100px;
	padding-top: 30px;
	background-color: black;
	height: 700px;
}

.about h1 {
	font-size: 5rem;
}

button {
	text-align: center;
}

.info {
	display: flex;
	margin-top: 200px;
	background-color: #dc5f00;
	color: #c0eef2;
}

.infoItem {
}

footer {
	background-color: black;
	height: 300px;
}
